<!DOCTYPE html>
<html>

<head>
    <title>My Sample Project</title>
    <!-- data-main attribute tells require.js to load
             scripts/main.js after require.js loads. -->
    <script data-main="js/main" src="js/require.js"></script>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <h1>16 Step Sequencer</h1>

    <!--Keyboard-->
    <div class="main-board">
        <div class="spacer"></div>
        <div id="sequencer" class="sequencer">
            <div id="grid">

            </div>
        </div>
        <div class="spacer"></div>
    </div>


    <div id="play-btn-div" class="play-btn">
        <button id="play-btn">
            Play
        </button>
    </div>

</body>

</html>